* {
    margin: 0;
    padding: 0;
    
}


body { 
    height: 100vh;
    margin: 0;
    background: #1C1D22;
    justify-content: center;
    font-family: Century Gothic;
    letter-spacing: 0.02em;
    line-height: 1.4;
}

input {
    width: 23rem;
    padding: 0.8rem;
    font-size: 18px;
    background-color: #2a2d31;
    caret-color: white;
    border: 1rem solid ;
    outline: none;
    transition: border-color 0.4s ease;
    font-family: Century Gothic;
    color: #ffffff;
}

input:focus {
    border-color: orange;
    
}

::placeholder {
    color: rgb(158, 165, 159);
    font-family: Century Gothic;
    font-size: 1rem;
}

.log {
    margin-left: 77rem;
    margin-top: 16%;
    border: 1px solid;
    border-radius: 0.7rem;
    border-color: #373c42;
}


.par {
    margin-left: 77rem;
    margin-top: 0.7rem;
    border: 1px solid;
    border-radius: 0.7rem;
    border-color: #373c42;
}


.zab {
    margin-left: 77rem;
    text-decoration: none;
    color: rgb(202, 179, 179);
    font-family: Garamond;
    font-size: 1.3rem;
} 

a:hover {
    color: rgba(231, 226, 226, 0.9);
    
}

.mathis {
    margin-left: 100.3rem;
    color: white;
    font-weight: 600;
    margin-top: 4%;
    font-size: 1.5rem;
    font-family: Century Gothic;
    position: absolute;
    
    
}


.math {
    position: absolute;
    margin-left: 105rem;
    margin-top: 1%;
    width: 3rem;
    height: auto;
}

.soc {
    color: white;
    font-family: Century Gothic;
    font-size: 23px;
    font-weight: 600;
    margin-top: 10%;
    position: absolute;
    margin-left: 16%;
    animation: masha 1s ease-in-out;
}

.vi {
    color: rgb(119, 111, 111);
    font-family: Century Gothic;
    font-size: 17px;
    font-weight: 500;
    margin-top: 225px;
    position: absolute;
    margin-left: 16%;
}
.aa {
    text-decoration: none;
    color: white;
}


.vk {

    border: 1px solid;
    border-color: #2a2d31;
    border-radius: 25px;
    margin-left: 27%;
    padding: 30px;
    position: absolute;
    cursor: pointer;
    width: 120px;
    margin-top: 15%;
    height: auto;
    background-color: #1C1D22;
    transition: background-color 0.4s ease;
}

.vk:hover {
    background-color: #353947;
}


.steam {
    border: 1px solid;
    border-color: #2a2d31;
    border-radius: 20px;
    margin-left: 16%;
    padding: 40px 30px;
    position: absolute;
    cursor: pointer;
    width: 120px;
    margin-top: 15%;
    height: auto;
    background-color: #1C1D22;
    transition: background-color 0.4s ease;
}

.steam:hover {
    background-color: #353947;

}


.vk {

    border: 1px solid;
    border-color: #2a2d31;
    border-radius: 25px;
    margin-left: 27%;
    padding: 40px 30px;
    position: absolute;
    cursor: pointer;
    width: 120px;
    margin-top: 15%;
    height: auto;
    background-color: #1C1D22;
    transition: background-color 0.4s ease;
}


.voy {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d48b56 ;
    padding: 13px 173px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: white;
    transition: background-color 0.4s ease;


}

.voy-box{
    width: 392px;
    height: 4rem;
    text-align: center;
    margin: 2rem auto;   
    margin-left: 77rem;
    
    
    
}



.voy:hover {
    background-color: #965c32;
}

.vhod {
    margin-left: 73%;
    position: absolute;
    margin-top: 13%;
    color: white;
    font-weight: 500;
    font-size: 26px;
    font-family: Century Gothic;
    
}

.register {
    background-color: #4ab34c;
    color: white;
    padding: 10px 96px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: Century Gothic;
    transition: background-color 0.4s ease;
    margin-bottom: 5%;
}

.register-box {
    width: 400px;
    height: 100px;
    margin: 30px auto;
    font-weight: 600;
    margin-left: 75.7rem;
    background-color: #20232a;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 5%;
    

}

.register:hover {
    background-color: #3d923e;
}

.vai {
    color: #898989;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}


