body {
    height: 100vh;
    margin: 0;
    background: #1C1D22;
    justify-content: center;
}

.math{
    position: absolute;
    margin-left: 105rem;
    margin-top: 1%;
    width: 3rem;
    height: auto;
    animation: adam3 0.8s ease-in-out;
    
}

.mathis {
    margin-left: 103.8rem;
    color: white;
    font-weight: 600;
    margin-top: 4%;
    font-size: 1.5rem;
    font-family: Century Gothic;
    position: absolute;
    animation: adam4 1s ease-in-out;
}

.text {
    color: white;
    font-family: Century Gothic;
    font-size: 23px;
    top: 8%;
    font-weight: bold;
    position: absolute;
    left: 34%;
    animation: ona 2s ease-in-out;
    
}


.register-box {
    width: 400px;
    height: 600px;
    margin: 30px 700px;
    font-weight: 600;
    background-color: #20232a;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 5%;
    position: absolute;
}   


input {
    position: relative;
    width: 23rem;
    padding: 0.8rem;
    font-size: 18px;
    background-color: #2a2d31;
    caret-color: white;
    border: 0.1rem solid ;
    outline: none;
    transition: border-color 0.4s ease;
    font-family: Century Gothic;
    color: #ffffff;
}

input:focus {
    color: white;
    border-color: aqua;
    
}

.parol {
    border-radius: 15px;
    margin-left: 45.2rem;
    margin-top: 0.6%;
    color: white;
    border-color: #3f4349;
    animation: adam2 0.8s ease-in-out;
}
.parol2 {
    border-radius: 15px;
    margin-left: 45.2rem;
    margin-top: 0.6%;
    color: white;
    border-color: #3f4349;
    animation: adam5 0.7s ease-in-out;
    

}

.log {
    border-radius: 15px;
    color: #ffffff;
    margin-left: 45.2rem;
    margin-top: 12%;
    border-color: #3f4349;
    animation: adam2 0.9s ease-in-out;
}


.Sozdat{
    margin-left: 48.3rem;
    position: relative;
    margin-top: 4%;
    border: 1px solid;
    border-radius: 13px;
    font-family: Century Gothic;
    cursor: pointer;
    color: white;
    outline: none;
    border-color: #3f4349;
    font-size: 20px;
    width: 300px;
    text-align: center;
    padding: 10px;
    background-color: #2a2d31;
    font-weight: bold;
    background: linear-gradient(270deg, #ff0080, #7928,   #32df, #2a2d31,#00ff00 );
    background-size: 400% 400%;
    background-position: 0% 50%;
    transition: background-position 2s ease ;

 }
    

.Sozdat:hover {
    animation: adam 4s ease-in-out infinite;
    
}

@keyframes adam {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}
.zahod {
    text-decoration: none;
    color: white;
}

@keyframes ona {
    from {
        opacity: 0;
        transform: translate3d(400px);
    }
    to {
        opacity: 1;
        transform: translate3d(0);
    }
}

@keyframes adam2 {
    from {
        opacity: 0;
        transform: translateY(-500px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes adam3 {
    from {
        opacity: 0;
        transform: translateY(-300px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes adam4 {
    from {
        opacity: 0;
        transform: translateX(800px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes adam5 {
    from {
        opacity: 0;
        transform: translateY(-500px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}