* {
    margin: 0;
    padding: 0;
    
}


body { 
    height: 100vh;
    margin: 0;
    background: #1C1D22;
    justify-content: center;
    font-family: Century Gothic;
    letter-spacing: 0.02em;
    line-height: 1.4;
}

input {
    width: 23rem;
    padding: 0.8rem;
    font-size: 18px;
    background-color: #2a2d31;
    caret-color: white;
    border: 1rem solid ;
    outline: none;
    transition: border-color 0.4s ease;
    font-family: Century Gothic;
    color: #ffffff;
    position: relative;
}

input:focus {
    border-color: orange;
    
}

::placeholder {
    color: rgb(158, 165, 159);
    font-family: Century Gothic;
    font-size: 1rem;
}

.log {
    margin-left: 13.5rem;
    margin-top: -6%;
    border: 1px solid;
    position: absolute;
    border-radius: 0.7rem;
    border-color: #373c42;
}


.par {
    margin-left: 13.5rem;
    margin-top: -3.4rem;
    border: 1px solid;
    border-radius: 0.7rem;
    position: absolute;
    border-color: #373c42;
}

.zab {
    top: .1rem;
    margin-left: 13.9rem;
    text-decoration: none;
    color: rgb(202, 179, 179);
    font-family: Garamond;
    font-size: 1.3rem;
    position: relative;
    transition: color 0.2s ease;
} 

.zab:hover {
    color: rgb(167, 153, 125);    
}

a:hover {
    color: rgba(231, 226, 226, 0.9);
    
}

.mathis {
    margin-left: 106rem;
    color: white;
    font-weight: 600;
    margin-top: -6.4rem;
    font-size: 1.5rem;
    font-family: Century Gothic;
    position: absolute;
    
    
}


.math {
    position: absolute;
    margin-left: 110.7rem;
    margin-top: -10rem;
    width: 3rem;
    height: auto;
}

.soc {
    color: white;
    font-family: Century Gothic;
    font-size: 23px;
    font-weight: 600;
    margin-top: 10%;
    position: relative;
    margin-left: 59%;
}

.vi {
    color: rgb(119, 111, 111);
    font-family: Century Gothic;
    font-size: 17px;
    font-weight: 500;
    margin-top: 1px;
    position: relative;
    margin-left: 59%;
}
.aa {
    text-decoration: none;
    color: white;
}


.login-bth {
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.4s ease;
    display: block;
    width: 130px;
}

.facebook {
    background-color: #1C1D22;
    color: white;
    z-index: 2;
    position: relative; 
    left: 68rem;
    top: 3rem;
    width: 105px;
}

.vk {
    background-color: #1C1D22;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(50px);
    z-index: 1;
    pointer-events: none;
    transition: all 0.4s ease;
    left: 68rem;
    top: 3rem;
    width: 105px;
}
.google {
    background-color: #1C1D22;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(50px);
    z-index: 1;
    pointer-events: none;
    transition: all 0.6s ease;
    left: 66.7rem;
    top: 3rem;
    width: 100px;
}

.pinterest{
    background-color: #1C1D22;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: background-color 0.4s ease;
    transform: translateX(50px);
    z-index: 1;
    pointer-events: none;
    transition: all 0.6s ease;
    left: 67.6rem;
    top: 3rem;
    width: 100px;
    
}


.login-wrapper:hover .vk {
    opacity: 1;
    transform: translateX(150px);
    pointer-events: auto;

}
.vk:hover{
    background-color: #373c42;
}

.login-wrapper:hover .google {
    opacity: 1;
    transform: translateX(320px);
    pointer-events: auto;
}
.google:hover {
    background-color: #373c42;
}

.login-wrapper:hover .pinterest{
    opacity: 1;
    transform: translateX(450px);
    pointer-events: auto;
    
}
.pinterest:hover {
    background-color: #373c42;
}

.facebook:hover{
    background-color: #373c42;
}


.login-wrapper{
    position: relative;
    display: flex;
}


.voy {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d48b56 ;
    padding: 13px 173px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: white;
    transition: background-color 0.2s ease;
    position: relative;


}

.voy-box{
    width: 392px;
    height: 4rem;
    text-align: center;
    margin: 2rem auto;   
    margin-left: 13.5rem;
    margin-top: 2.5rem;
    
    
    
}



.voy:hover {
    background-color: #965c32;
}

.vhod {
    position: relative;
    color: white;
    font-weight: 600;
    font-size: 30px;
    font-family: Century Gothic;
    
    
}


.vhod-box {
    width: 398.3px;
    height: 330px;
    margin: 30px 700px;
    font-weight: 600;
    background-color: #20232a;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10%;
    position: absolute;
    bottom: 13rem;
    margin-left: 10.3%;

}   





.register {
    background-color: #4ab34c;
    color: white;
    padding: 10px 96px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: Century Gothic;
    transition: background-color 0.2s ease;
    margin-bottom: 5%;
    position: relative;
}

.register-box {
    width: 400px;
    height: 100px;
    margin: 30px auto;
    font-weight: 600;
    margin-left: 12.2rem;
    background-color: #20232a;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    bottom: 1.3rem;
    position: relative;
    
    

}

.register:hover {
    background-color: #3d923e;
}

.vai {
    color: #898989;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}


html {
    scroll-behavior: smooth;
}


